<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>registration</display-name>
	
	<filter>
		<description>
		</description>
		<display-name>Rf</display-name>
		<filter-name>Rf</filter-name>
		<filter-class>Rf</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>Loginfilter</display-name>
		<filter-name>Loginfilter</filter-name>
		<filter-class>Loginfilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>Sregfilter</display-name>
		<filter-name>Sregfilter</filter-name>
		<filter-class>Sregfilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>Changepwdfilter</display-name>
		<filter-name>Changepwdfilter</filter-name>
		<filter-class>Changepwdfilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>Sloginfilter</display-name>
		<filter-name>Sloginfilter</filter-name>
		<filter-class>Sloginfilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>Jobfilter</display-name>
		<filter-name>Jobfilter</filter-name>
		<filter-class>Jobfilter</filter-class>
	</filter>
	
	
	<filter-mapping>
		<filter-name>Rf</filter-name>
		<url-pattern>/Rf</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Rf</filter-name>
		<servlet-name>Reg</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Loginfilter</filter-name>
		<url-pattern>/Loginfilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Loginfilter</filter-name>
		<servlet-name>Login</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Sregfilter</filter-name>
		<url-pattern>/Sregfilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Sregfilter</filter-name>
		<servlet-name>Sregister</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Changepwdfilter</filter-name>
		<url-pattern>/Changepwdfilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Changepwdfilter</filter-name>
		<servlet-name>Changepwd</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	
	<filter-mapping>
		<filter-name>Sloginfilter</filter-name>
		<url-pattern>/Sloginfilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Sloginfilter</filter-name>
		<servlet-name>Slogin</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Jobfilter</filter-name>
		<url-pattern>/Jobfilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Jobfilter</filter-name>
		<servlet-name>Job</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>Reg</display-name>
		<servlet-name>Reg</servlet-name>
		<servlet-class>Reg</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Sregister</display-name>
		<servlet-name>Sregister</servlet-name>
		<servlet-class>Sregister</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Slogin</display-name>
		<servlet-name>Slogin</servlet-name>
		<servlet-class>Slogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Sendmail</display-name>
		<servlet-name>Sendmail</servlet-name>
		<servlet-class>Sendmail</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Elogout</display-name>
		<servlet-name>Elogout</servlet-name>
		<servlet-class>Elogout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Changepwd</display-name>
		<servlet-name>Changepwd</servlet-name>
		<servlet-class>Changepwd</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Slogout</display-name>
		<servlet-name>Slogout</servlet-name>
		<servlet-class>Slogout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Job</display-name>
		<servlet-name>Job</servlet-name>
		<servlet-class>Job</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Searchjob</display-name>
		<servlet-name>Searchjob</servlet-name>
		<servlet-class>Searchjob</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangeStenth</display-name>
		<servlet-name>ChangeStenth</servlet-name>
		<servlet-class>ChangeStenth</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangeSpu</display-name>
		<servlet-name>ChangeSpu</servlet-name>
		<servlet-class>ChangeSpu</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>Reg</servlet-name>
		<url-pattern>/Reg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Sregister</servlet-name>
		<url-pattern>/Sregister</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Slogin</servlet-name>
		<url-pattern>/Slogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Sendmail</servlet-name>
		<url-pattern>/Sendmail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Elogout</servlet-name>
		<url-pattern>/Elogout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Changepwd</servlet-name>
		<url-pattern>/Changepwd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Slogout</servlet-name>
		<url-pattern>/Slogout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Job</servlet-name>
		<url-pattern>/Job</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Searchjob</servlet-name>
		<url-pattern>/Searchjob</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeStenth</servlet-name>
		<url-pattern>/ChangeStenth</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeSpu</servlet-name>
		<url-pattern>/ChangeSpu</url-pattern>
	</servlet-mapping>
	
	
	
	<welcome-file-list>
		<welcome-file>mainindex.html</welcome-file>
	</welcome-file-list>
	
</web-app>
